@import "./cores.css";
/* Estilos Gerais */
* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

.container {
  padding: 12px 3rem;
  margin: 0 auto;
}

.pad {
  padding: 12px 3rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--branco);
}

/* Header */
.header-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 15px;
}

.header-menu a:hover {
  color: var(--cinza-2);
}

.header-menu li::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 2px solid var(--branco);
  border-radius: 50%;
  margin-left: 10px;
}

.header-menu .underline-vermelho::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 0;
  border: none;
  margin-left: 0;
  background-color: var(--vermelho-2);
}

/* Escola de Surf */
.surf-bg {
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-image: url("../assets/surfista3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 400px;
}

.surf-bg h1 {
  font-size: 72px;
  font-family: "Alice", sans-serif;
  color: var(--branco);
  font-weight: 400;
  margin-bottom: 1rem;
}

.surf-bg > div {
  display: flex;
  margin-bottom: 1.2rem;
}

.surf-bg > div input {
  border-radius: 5px 0 0 5px;
  font-size: 18px;
  font-weight: bold;
  padding: 0.5rem 10px;
  padding-right: 5rem;
  border: 2px solid transparent;
  outline: none;
}

.surf-bg > div input:focus {
  border-color: var(--cinza-2);
}

.surf-bg > div input::placeholder {
  color: var(--cinza-2);
}

.surf-bg > div button {
  border-radius: 0 5px 5px 0;
  background: var(--vermelho-2);
  color: var(--branco);
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 15px 10px;
  cursor: pointer;
}

.surf-bg > div button:hover {
  background: var(--vermelho-3);
}

/* Seção Main */
.main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex: 1;
  margin-top: 3rem;
}

.pranchas-container {
  position: relative;
}

.pranchas-container::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 100%;
  background: var(--cinza-2);
}

.galeria-e-mapa .foto-maps {
  position: absolute;
  bottom: -100px;
  left: 37px;
}

.galeria-e-mapa .galeria-info {
  margin-top: 8rem;
  margin-left: 37px;
}

.galeria-e-mapa .galeria-info h4 {
  display: flex;
  align-items: center;
}

.galeria-e-mapa .galeria-info h4::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 2px solid var(--vermelho-1);
  border-radius: 50%;
  margin-right: 6px;
}

.galeria-e-mapa .galeria-info .transportes li {
  display: flex;
  align-items: center;
}

.galeria-e-mapa .galeria-info .transportes li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 2px;
  background: var(--azul-2);
  margin-right: 6px;
}

.galeria-e-mapa .galeria-info .transportes p {
  font-weight: bold;
}

.galeria-e-mapa .galeria-info .transportes .transportes-info {
  color: var(--cinza-3);
  font-size: 15px;
}

/* Main Info */
.main-info-container h1,
.main-info-container span {
  font-family: "Alice", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 74px;
  margin-bottom: 105px;
}

.main-info-container span {
  color: var(--azul-2);
}

.main-info .main-info-item {
  display: flex;
  align-items: center;
  gap: 25px;
  max-width: 500px;
  border-top: 2px solid var(--cinza-1);
}

.main-info .main-info-item img {
  margin: 30px 0;
}

.main-info .main-info-item h3 {
  font-size: 24px;
  font-weight: 400;
  color: var(--preto-2);
}

.main-texto {
  font-size: 18px;
  line-height: 29px;
  color: var(--preto-2);
  border-top: 2px solid var(--cinza-1);
  max-width: 500px;
}

.main-texto p {
  margin: 1.5rem 0;
}

/* Aulas */
.aulas {
  position: relative;
  margin-top: 7rem;
  background: var(--cinza-1);
}

.aulas .ondas-flex {
  display: flex;
  justify-content: center;
}

.aulas .ondas {
  position: absolute;
  top: -32.5px;
  width: 175px;
  height: 65px;
}

.aulas h1 {
  padding-top: 7rem;
  padding-bottom: 4rem;
  font-family: "Alice";
  font-weight: 400;
  font-size: 72px;
  text-align: center;
  color: var(--preto-2);
}

.aulas-flex {
  display: flex;
  gap: 30px;
}

.aulas-flex .card-mensalidade {
  display: flex;
  flex-direction: column;
  flex: 1 0 33%;
  background: var(--branco);
  box-shadow: 0px 5px 5px rgba(187, 204, 221, 0.4),
    0px 10px 10px rgba(187, 204, 221, 0.4);
  border-radius: 5px;
}

.surfbot-icon-flex {
  display: flex;
  justify-content: center;
  margin-top: -25px;
  margin-right: 30px;
}

.card-mensalidade h3 {
  padding-right: 30px;
  padding-top: 35px;
  font-size: 24px;
  color: var(--preto-2);
  text-align: center;
}

.card-mensalidade ul::before {
  content: "";
  display: block;
  height: 2px;
  width: 65%;
  background: var(--cinza-1);
  margin-bottom: 30px;
}

.card-mensalidade ul li {
  color: var(--preto-2);
}

.card-mensalidade ul li + li {
  margin-top: 15px;
}

.card-mensalidade ul li::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 2px solid var(--vermelho-2);
  border-radius: 50%;
  margin-right: 6px;
}

.card-mensalidade-width {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 120px;
  padding-top: 60px;
}

.card-mensalidade-width span {
  color: var(--azul-2);
  font-weight: bold;
}

.card-mensalidade-width span::before {
  content: "";
  display: block;
  height: 2px;
  width: 65%;
  background: var(--cinza-1);
  margin-bottom: 30px;
}

.card-mensalidade-width button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--preto-2);
  color: var(--branco);
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  padding: 10px 20px 10px 20px;
  margin-bottom: 40px;
  cursor: pointer;
  width: 65%;
}

.card-mensalidade-width button::after {
  content: url("../assets/icons/setinha.svg");
}

.card-mensalidade-width button:hover {
  background: var(--preto-1);
}

.aulas-p {
  margin: 50px 0;
}

.aulas-p p {
  font-size: 18px;
  color: var(--preto-2);
  text-align: center;
}

.aulas-p .span-red {
  color: var(--vermelho-1);
  font-weight: bold;
}

.aulas-p .underline-vermelho {
  display: inline-block;
  cursor: pointer;
}

.aulas-p .underline-vermelho::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--vermelho-1);
}

/* Blockquote */
.blockquote-image {
  max-width: 100%;
}
